apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "darthdataditch.fullname" . }}
  labels:
    {{- include "darthdataditch.labels" . | nindent 4 }}
spec:
  replicas: 2
  selector:
    matchLabels:
      {{- include "darthdataditch.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "darthdataditch.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: darthdataditch
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: {{ .Values.containerCommand }}
          args: {{ .Values.containerArgs }}
          env:
          - name: S3_BUCKET_NAME
            value: "{{ .Values.env.S3_BUCKET_NAME }}"
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
